################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/*
*/obj/*
*.sln
/.vs
/NewTask/.vs/NewTask

*.dll
*.exe
*.pdb
*.cache
