################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/bin/*
*/obj/*
*.sln
/.vs
/NewTask/.vs/NewTask

*.dll
*.exe
*.pdb
*.cache
/NewTask/bin/Debug/net9.0/NewTask.deps.json
/NewTask/bin/Debug/net9.0/NewTask.dll
/NewTask/bin/Debug/net9.0/NewTask.exe
/NewTask/bin/Debug/net9.0/NewTask.pdb
/NewTask/bin/Debug/net9.0/RabbitMQ.Client.dll
/NewTask/bin/Debug/net9.0/WebQueueModels.dll
/NewTask/bin/Debug/net9.0/WebQueueModels.pdb
/NewTask/obj/Debug/net9.0/apphost.exe
/NewTask/obj/Debug/net9.0/NewTask.AssemblyInfo.cs
/NewTask/obj/Debug/net9.0/NewTask.AssemblyInfoInputs.cache
/NewTask/obj/Debug/net9.0/NewTask.assets.cache
/NewTask/obj/Debug/net9.0/NewTask.csproj.AssemblyReference.cache
/NewTask/obj/Debug/net9.0/NewTask.csproj.CoreCompileInputs.cache
/NewTask/obj/Debug/net9.0/NewTask.csproj.FileListAbsolute.txt
/NewTask/obj/Debug/net9.0/NewTask.dll
/NewTask/obj/Debug/net9.0/NewTask.pdb
/NewTask/obj/Debug/net9.0/NewTask.sourcelink.json
/NewTask/obj/Debug/net9.0/ref/NewTask.dll
/NewTask/obj/Debug/net9.0/refint/NewTask.dll
/NewTask/obj/NewTask.csproj.nuget.dgspec.json
/NewTask/obj/NewTask.csproj.nuget.g.props
/NewTask/obj/project.assets.json
/NewTask/obj/Release/net9.0/NewTask.AssemblyInfo.cs
/NewTask/obj/Release/net9.0/NewTask.AssemblyInfoInputs.cache
/NewTask/obj/Release/net9.0/NewTask.assets.cache
/NewTask/obj/Release/net9.0/NewTask.csproj.AssemblyReference.cache
/NewTask/obj/Release/net9.0/NewTask.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Debug/net9.0/Worker.AssemblyInfo.cs
/obj/Debug/net9.0/Worker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0/Worker.GlobalUsings.g.cs
/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/obj/Release/net9.0/Worker.AssemblyInfo.cs
/obj/Release/net9.0/Worker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net9.0/Worker.GlobalUsings.g.cs
/WebQueueModels/bin/Debug/net8.0/WebQueueModels.deps.json
/WebQueueModels/bin/Debug/net8.0/WebQueueModels.dll
/WebQueueModels/bin/Debug/net8.0/WebQueueModels.pdb
/WebQueueModels/obj/Debug/net8.0/ref/WebQueueModels.dll
/WebQueueModels/obj/Debug/net8.0/refint/WebQueueModels.dll
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.AssemblyInfo.cs
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.AssemblyInfoInputs.cache
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.assets.cache
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.csproj.AssemblyReference.cache
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.csproj.CoreCompileInputs.cache
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.dll
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.pdb
/WebQueueModels/obj/Debug/net8.0/WebQueueModels.sourcelink.json
/WebQueueModels/obj/project.assets.json
/Worker/bin/Debug/net9.0/RabbitMQ.Client.dll
/Worker/bin/Debug/net9.0/WebQueueModels.dll
/Worker/bin/Debug/net9.0/WebQueueModels.pdb
/Worker/bin/Debug/net9.0/Worker.deps.json
/Worker/bin/Debug/net9.0/Worker.dll
/Worker/bin/Debug/net9.0/Worker.exe
/Worker/bin/Debug/net9.0/Worker.pdb
/Worker/obj/Debug/net9.0/apphost.exe
/Worker/obj/Debug/net9.0/ref/Worker.dll
/Worker/obj/Debug/net9.0/refint/Worker.dll
/Worker/obj/Debug/net9.0/Worker.AssemblyInfo.cs
/Worker/obj/Debug/net9.0/Worker.AssemblyInfoInputs.cache
/Worker/obj/Debug/net9.0/Worker.assets.cache
/Worker/obj/Debug/net9.0/Worker.csproj.AssemblyReference.cache
/Worker/obj/Debug/net9.0/Worker.csproj.CoreCompileInputs.cache
/Worker/obj/Debug/net9.0/Worker.csproj.FileListAbsolute.txt
/Worker/obj/Debug/net9.0/Worker.dll
/Worker/obj/Debug/net9.0/Worker.pdb
/Worker/obj/Debug/net9.0/Worker.sourcelink.json
/WebQueueModels/obj/project.nuget.cache
/WebQueueModels/obj/WebQueueModels.csproj.nuget.dgspec.json
/WebQueueModels/obj/WebQueueModels.csproj.nuget.g.props
/Worker/obj/project.assets.json
/Worker/obj/project.nuget.cache
/Worker/obj/Worker.csproj.nuget.dgspec.json
/Worker/obj/Worker.csproj.nuget.g.props
/Worker/obj/Release/net9.0/Worker.AssemblyInfo.cs
/Worker/obj/Release/net9.0/Worker.AssemblyInfoInputs.cache
/Worker/obj/Release/net9.0/Worker.assets.cache
/Worker/obj/Release/net9.0/Worker.csproj.AssemblyReference.cache
/Worker/obj/Release/net9.0/Worker.GeneratedMSBuildEditorConfig.editorconfig
/NewTask/obj/project.nuget.cache
